body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

* {
  padding: 0 0;
  margin: 0 0;
}

.f-14 {
  font-size: 14px;
}

.container {
  position: relative;
  margin-left: 0;
  margin-right: 0;

}

.contain {
  position: absolute;
  left: 210px;
  background-color: #e8bebf;
  width: 1144px;
}

.sider {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
}

.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
}

/*  */
.filter-date {
  position: relative;
  margin-left: 100px;
  margin-bottom: 90px;
}

.margin-all-date {
  position: relative;
  left: 190px;
}

.filter-date .date {}

.filter-date .date .title {
  position: absolute;
  margin-top: 37px;
}

.filter-date .date i {}

.filter-date input {}

.day,
.month,
.year {}

.filter-date button {
  position: absolute;
  margin-top: 20px;
  left: 39.59%;
}

a {
  font-size: 14px;
}

.main {
  position: relative;
  left: 20px;
}

.cont {
  background-color: #fff;
  width: 1100px;
  margin-left: 18px;
  border-top: 2px red solid;
  border-radius: 5px;
  margin-bottom: 40px;

}

.main table {
  margin-left: -2px;
  width: 1065px;

}

.main table tbody td {
  font-size: 12px;
  padding-right: 0;
  margin-right: 0;
}

.main table thead th {
  font-size: 12px;
}


.main table .bold {
  font-size: 12px;
  font-weight: 660;
  padding-right: 0;
}

.main .red {
  color: red;
  font-weight: 500;
}

.icon-calender {
  position: absolute;
  right: 115px;
}

.date-start {
  position: absolute;
  left: 40px;
}

.date-end {
  position: absolute;
  top: 150px;
  left: 40px;
}

.w-300 {
  width: 400px;
}

.w-50 {
  width: 50px;
}

.background {
  background-color: #FFFF00;
}

body {
  font-family: Arial, sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #b22222;
  color: white;
}

.table .x-mark,
.table .check-mark {
  text-align: center;
}

.summary {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8d7da;
  color: #b22222;
  display: flex;
  justify-content: space-between;
}

.summary p {
  margin: 0;
  padding: 5px 0;
}

.summary .highlight {
  color: #b22222;
  font-weight: bold;
}